@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,500&display=swap");
:root {
  --opacity: 1;
  --background: url("../img/gallery/image0.jpg");
}

* {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

h2 {
  font-size: 2rem;
  margin: 0;
  color: #b0b0b0;
  font-weight: 300;
}

html, body {
  margin: 0;
}

.textSection {
  background-color: #4A4A4A;
  color: white;
  text-align: center;
  padding: 10%;
  font-size: 0.9rem;
}

nav {
  -webkit-box-shadow: 0 0 2em black;
          box-shadow: 0 0 2em black;
  z-index: 1000;
  background-color: #EC644A;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
nav ul li a {
  min-width: 5em;
  margin: 0.1em;
  color: #f8c7bd;
  text-decoration: none;
  padding: 1em;
  height: auto;
  display: block;
}
nav ul li a:hover {
  color: white;
}

header {
  -webkit-box-shadow: 0 0 2em black;
          box-shadow: 0 0 2em black;
  background-image: url("../../assets/img/jumprope.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 25em;
}
header .headerContainer {
  width: 15em;
}
header h3 {
  color: #EC644A;
  font-weight: 400;
  font-size: smaller;
}

.aboutContainer {
  -webkit-box-shadow: 0 0 2em black;
          box-shadow: 0 0 2em black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  grid-auto-rows: 1fr minmax(0, 30em);
  overflow: hidden;
}
.aboutContainer .aboutHolder {
  max-height: 25em;
  z-index: -1;
}
.aboutContainer .imageSlider {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: black;
  position: relative;
  z-index: 1;
}
.aboutContainer .imageSlider::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background) center/cover no-repeat;
  opacity: var(--opacity);
  -webkit-transition: opacity 0.3s cubic-bezier(0.07, 0.49, 0.34, 1.11);
  transition: opacity 0.3s cubic-bezier(0.07, 0.49, 0.34, 1.11);
}
.aboutContainer .imageSlider .btnHolder {
  width: 3em;
  height: 6em;
  margin: 1em;
}
.aboutContainer .imageSlider .btnHolder .sbtn {
  background-color: #EC644A;
  margin: 0.3em;
  padding: 0.4em;
  border-radius: 100%;
}
.aboutContainer .imageSlider .btnHolder .sbtn:hover {
  background-color: #f18c78;
}
.aboutContainer .imageSlider .btnHolder .sbtn:active {
  background-color: #f8c7bd;
}

.offerings {
  background: url("../img/concrete.jpg") no-repeat center/cover;
}
.offerings .offeringsHolder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
  grid-auto-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.offerings .offeringsHolder .textSection {
  grid-column-start: 1;
  grid-column-end: 3;
}
.offerings .offeringsHolder .gridItem {
  font-size: 0.75em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offerings .offeringsHolder .gridItem h4 {
  font-weight: normal;
}
.offerings .offeringsHolder .gridItem:nth-child(odd) {
  background-color: #E4E4E4;
}
.offerings .offeringsHolder .gridItem:nth-child(even) {
  background-color: #ECECEC;
}
.offerings .offeringsHolder img {
  width: 10em;
  height: 10em;
}
/*# sourceMappingURL=main.css.map */